#red {
    background-color: red;
    flex-grow: 1;
}

#green {
    background-color: green;
    flex-grow: 1;
}

#blue {
    background-color: blue;
    flex-grow: 1;
}

#yellow {
    background-color: yellow;
    flex-grow: 1;
}

#purple {
    background-color: purple;
    flex-grow: 1;
}

#grey {
    background-color: grey;
    flex-grow: 1;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.content {
    width: 400px;
    height: 80px;
}