#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

#purple {
    background-color: purple;
}

#grey {
    background-color: grey;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content {
    width: 400px;
    height: 80px;
}